name: check_make_vtadmin_authz_testgen
on: [push]
jobs:

  build:
    name: Check Make vtadmin_authz_testgen
    runs-on: ubuntu-latest
    steps:
    - name: Configure git private repo access
      env:
        GITHUB_TOKEN: ${{ secrets.PLANETSCALE_ACTIONS_BOT_TOKEN }}
      run: |
        git config --global --add url."https://${GITHUB_TOKEN}@github.com/".insteadOf "https://github.com/"

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.2

    - name: Check out code
      uses: actions/checkout@v3

    - name: Tune the OS
      run: |
        sudo sysctl -w net.ipv4.ip_local_port_range="22768 65535"

    - name: Get dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make unzip g++ etcd curl git wget
        sudo service etcd stop
        go mod download
        go install golang.org/x/tools/cmd/goimports@latest

    - name: Run make minimaltools
      run: |
        make minimaltools

    - name: check_make_vtadmin_authz_testgen
      run: |
        tools/check_make_vtadmin_authz_testgen.sh
